	body {
			background: white;
		}
		#back0{
			background: white;
			position: absolute;
			left: 0px;
			top: 0px;
			width: 100%;
			height: 40%;
		}
		#schol{
			color: #cc0000;
			font-family: Cooper Black;
			letter-spacing: 2px;
			position: absolute;
			top: 48%;
			left: 10%;
			font-size: 25px;
			cursor: pointer;
		}
		#img1{
			position: absolute;
			top: 31%;
			left: 10%;
			cursor: pointer;
		}
		#img2{
			position: absolute;
			top: 25%;
			left: 70%;
			cursor: pointer;
		}
		#back1{
			background: #cc0000;
			position: absolute;
			top: 25%;
			left: 0%;
			height: 50%;
			width: 100%;
		}
		.inc{
			padding: 6px;
			margin: 3px;

		}
		#wel{
			color: white;
			position: absolute;
			left: 10%;
			top: 8%;
			font-size: 20px;
			
 		}
		#sign{
			color: white;
			font-size: 30px;
			position:absolute;
			left: 10%;
			top: 16%;
			font-weight: bolder;
		}
		#f1{
			background: rgba(0,0,0,0.3);
			position: absolute;
			left: 10%;
			top: 25%;
			width: 20%;
			height: 58%;
			padding: 15px;
		}
		#rem{
			color: white;
			font-size: 14px;
			position: relative;
			left: 5px;
		}
		#forgot{
			position: absolute;
			top: 86%;
			left: 21px;
		}
		#in{
			padding: 7px;
			background: orange;
			color: white;
			position: absolute;
			top: 67%;
			left: 21px;
			width: 85%;
			text-align: center;
			height: 25px;
			cursor: pointer;
		}
		#in:hover{
			opacity: 0.7;
			transition: 200ms;
		}
		div#in a{
			text-decoration: none;
			size: 35px;
			color: white;
			font-weight: bolder;
		}
		div#f1 a{
			text-decoration: none;
			size: 12px;
			color: white;
			font-style: bolder;
		}
		div#back1 span{
			font-weight: bolder;
			font-size: 30px;
			position: absolute;
			top: 20%;
			left: 35%;
			color: white;
			width: 65%;
		}
		#teachers{
			background: rgba(0,0,0,0.3);
			position: absolute;
			left:35%;
			top: 35%;
			height: 27%;
			padding: 50px;
			width: 25%
		}
		div#teachers span{
			font-weight: bolder;
			color: white;
			font-size: 30px;
		}
		#create{
			padding: 7px;
			background: blue;
			position:absolute;
			top:50%;
			left:15%;
			width:70%;
			padding: 10px;
			text-align: center;
			cursor: pointer;
			font-weight: bolder;
		}
		#create:hover{
			opacity: 0.7;
		}
		#get:hover{
			opacity: 0.7;
		}
		div#create a{
			font-weight: bolder;
			text-decoration: none;
			color: white;
			font-size: 20px;
			
		}
		#parents{
			background: rgba(0,0,0,0.3);
			position: absolute;
			left:68%;
			top: 35%;
			padding: 50px;
			width: 20%;
			height: 27%;
		}
		div#parents span{
			font-weight: bolder;
			color: white;
			font-size: 30px;
		}
		#get{
			padding: 7px;
			background: orange;
			position:absolute;
			top:50%;
			left:15%;
			width: 70%;
			text-align: center;
			padding: 10px;
			cursor: pointer;
			font-weight: bolder;
		}
		div#get a{
			color: white;
			font-size: 20px;
			font-weight: bolder;
			text-decoration: none;
		}
		#s{
			position: absolute;
			bottom: 0px;
			height: 17px;
			left: 0px;
			width: 100%;
			background: rgba(0,0,0,0.3);
		}
		#back2{
			background: #3abaac url(sign-in-video-bg.jpg) center center no-repeat;
			position: absolute;
			top: 78%;
			left: 0px;
			width: 100%;
			height: 60%;
		}
		div#back2 .img3{
			position: absolute;
			bottom: 10px;
			left: 10%; 
			height: 80%;
			width: 40%;
			cursor: pointer;
		}
		div#back2 .img4{
			position: absolute;
			bottom: 0px;
			left: 53%; 
			height: 80%;
			width: 35%;

		}
		#when{
			font-weight: bold;
			font-size: 45px;
			letter-spacing: 2px;
			position: absolute;
			left: 10%;
			top: 10px;
			color: white;
		}
		#back3{
			background: white;
			position: absolute;
			top: 143%;
			left: 0px;
			height: 40%;
			width: 100%;
			display: inline-grid;
		}
		#how{
			color: #cc0000;
			font-size: 45px;
			text-align: center;
		}
		#l1{
			font-size: 20px;
			position: absolute;
			top: 28%;
			left: 15%;
			width: 16%;
			height: 100%;
		}	
		div#l1 img ,div#l2 img ,div#l3 img ,div#l4 img{
			position: absolute;
			top: 0px;
			left: 0px;
			height: 65%;
			width: 100%;
		}
		#t1,#t2,#t3,#t4{
			position: absolute;
			top: 70%;
			left: 10%;
			width: 80%;
			text-align: center;
		}
		#l2{
			font-size: 20px;
			position: absolute;
			top: 28%;
			left: 33%;
			width: 16%;
			height: 100%;
		}
		#l3{
			font-size: 20px;
			position: absolute;
			top: 28%;
			left: 51%;
			width: 16%;
			height: 100%;
		}
		#l4{
			font-size: 20px;
			position: absolute;
			top: 28%;
			left: 69%;
			width: 16%;
			height: 100%;
		}	

		#back4{
			background: #e0e0d1;
			position: absolute;
			top: 200%;
			left:0px;
			width:100%;
			height: 50%;
			
		}
		#started{
			color:#cc0000;
			font-size: 45px;
			text-align: center;
			padding: 5px;
			letter-spacing: 3px;
		}
		#back5{
			position: absolute;
			top: 255%;
			left: 0%;
			height: 30%;
			background: white;
			text-align: center;
			width: 100%;
		}
		#exclusive{
			text-align: center;
			font-size: 45px;
			color: #cc0000;
			padding: 5px;

		}
		#k1{
			text-align: center;
			position: absolute;
			top: 150px;
			left: 14%;
			width: 14%;
			padding-left: 5px;
			padding-right: 5px;
			border-left: 1px solid red;
			border-right: 1px solid red;
		}
		#k2{
			text-align: center;
			position: absolute;
			top: 150px;
			left: 32%;
			width: 14%;
			padding-left: 5px;
			padding-right: 5px;
			border-right: 1px solid red;
		}
		#k3{
			text-align: center;
			position: absolute;
			top: 150px;
			left: 50%;
			width: 14%;
			padding-right: 5px;
			border-right: 1px solid red;
		}
		#k4{
			text-align: center;
			position: absolute;
			top: 150px;
			left: 68%;
			width: 14%;
			padding-right: 5px;
			border-right: 1px solid red;
		}
		div#k1 a, div#k2 a, div#k3 a, div#k4 a{
			text-decoration: none;
			font-size: 23px;
			letter-spacing: 2px;
			color: black;
		}
		#back6{
			background: #e0e0d1;
			position: absolute;
			top: 300%;
			left:0px;
			width:100%;
			height: 35%;
			
		}
		#lets{
			color: #cc0000;
			font-size:45px;
			text-align: center;
			padding: 5px;
			letter-spacing: 2px;
		}
		#tea{
			position: absolute;
			top: 40%;
			left: 21%;
			font-size: 40px;
			letter-spacing: 2px;
			padding: 2px;
			color: #007acc;
		}
		#par{
			position: absolute;
			top: 40%;
			left: 65%;
			font-size: 40px;
			letter-spacing: 2px;
			padding: 2px;
			color: #ffa31a;
		}
		#an{
			background: #007acc;
			position: absolute;
			top: 65%;
			left: 10%;
			height: 15%;
			padding: 7px;
			text-align: center;
			width: 39%;
			cursor: pointer;
		}
		#to{
			background: #ffa31a;
			position: absolute;
			top: 65%;
			left: 51%;
			height: 15%;
			text-align: center;
			width: 39%;
			padding: 7px;
			cursor: pointer;
		}
		div#an a, div#to a{
			text-decoration: none;
			color: white;
			padding: 4px;
			font-size: 27px;
			font-weight: bolder;
		}
		#back7{
			background: white;
			position: absolute;
			left: 0px;
			top: 340%;
			width: 100%;
			height: 70%;
		}
		#shade1{
			background:#e0e0d1;
			width: 15%;
			height: 40%;
			position:absolute;
			top: 10%;
			left: 0%;	
		}
		#dark{
			font-weight: bolder;
			text-align: left;
			position: absolute;
			top: 6%;
			left: 9%;
			font-size: 20px;
			
		}
		#dark2{
			font-weight: bolder;
			text-align: left;
			position: absolute;
			top: 62%;
			left: 9%;
			font-size: 20px;
		}
		#shade2{
			background:#e0e0d1;
			width: 15%;
			height: 40%;
			position: absolute;
			top: 10%;
			left: 15.3%;
		}
		div#shade2 ul{
			list-style-type: none;
			position: absolute;
			top: 10%;
			left: 3%;
			padding: 8px;
		}
		div#shade2 ul li{
			margin: 7px; 
		}
		div#shade2 ul li a{
			text-decoration: none;
			color: black;
			font-size: 15px;

		}
		#shade3{
			background:#e0e0d1;
			width: 17%;
			height: 40%;
			position: absolute;
			top: 10%;
			left: 30.6%;
		}
		div#shade3 ul{
			list-style-type: none;
			position: absolute;
			top: 10%;
			left: 3%;
			padding: 8px;
		}
		div#shade3 ul li{
			margin:7px; 
		}
		div#shade3 ul li a{
			text-decoration: none;
			color: black;
			font-size: 15px;
		}
		#shade4{
			background:#e0e0d1;
			width: 17%;
			height: 40%;
			position: absolute;
			top: 10%;
			left: 48%;
		}
		div#shade4 ul{
			list-style-type: none;
			position: absolute;
			top: 10%;
			left: 3%;
			padding: 8px;
		}
		div#shade4 ul li{
			margin:7px; 
		}
		div#shade4 ul li a{
			text-decoration: none;
			color: black;
			font-size: 15px;
		}
		#shade5{
			background:#e0e0d1;
			width: 17%;
			height: 40%;
			position: absolute;
			top: 10%;
			left: 65.5%;
		}
		div#shade5 img{
			position: absolute;
			top: 25%;
			width: 100%;
			cursor: pointer;
		}
		#shade6{
			background:#e0e0d1;
			width: 17%;
			height: 40%;
			position: absolute;
			top: 10%;
			left: 83%;
		}
		#all{
			position: absolute;
			top: 78%;
			left: 9%;
		}
		div#all a{
			text-decoration: none;
			color: black;
			font-size: 15px;

		}
		#back8{
			background: white;
			position: absolute;
			top: 377%;
			left: 0px;
			width: 100%;
		}
		#link{
			position: absolute;
			left: 15%;
			top: 5px;
			font-size: 16px;
			height: 20%;
		}
		div#link a{
			text-decoration: none;
			color:black;

		}
		div#back7 a:hover, div#back8 a:hover{
			color: orange;
		}
		.li-left{
			position: absolute;
			left: 0px; 
			width: 40%; 
			border-color: red;
		}
		.li-right{
			position: absolute; 
			left:60%;
			top:0px; 
			width: 40%; 
			border-color: red;
		}
		.img5{
			position: absolute;
			left: 23%;
			bottom: 5%;
			height: 80%;
			width: 35%;
		}
		#list{
			background: white;
			position: absolute;
			bottom: 5%;
			left: 58%;
			width: 21%;
			height: 80%;
			overflow-y: auto;
			overflow-x: hidden;
		}
		#item1{
			position: absolute;
			top: 5%;
			left: 5px;
			height: 30%;
			width: 90%;
		}
		#item2{
			position: absolute;
			top: 38%;
			left: 5px;
			height: 30%;
			width: 90%;
		}
		#item3{
			position: absolute;
			top: 71%;
			left: 5px;
			height: 30%;
			width: 90%;
		}
		#item4{
			position: absolute;
			top: 104%;
			left: 5px;
			height: 30%;
			width: 100%;
		}
		#item5{
			position: absolute;
			top: 137%;
			left: 5px;
			height: 30%;
			width: 90%;
		}
		#item6{
			position: absolute;
			top: 170%;
			left: 5px;
			height: 30%;
			width: 90%;
		}
		#item7{
			position: absolute;
			top: 203%;
			left: 5px;
			height: 30%;
			width: 90%;
		}
		#item8{
			position: absolute;
			top: 236%;
			left: 5px;
			height: 30%;
			width: 90%;
		}
		div#item1 img, div#item2 img, div#item3 img, div#item4 img, div#item5 img, div#item6 img, div#item7 img, div#item8 img{
			height: 100%;
			width: 40%;
		}
		div#item1 span, div#item2 span, div#item3 span, div#item4 span, div#item5 span, div#item6 span, div#item7 span, div#item8 span{
			position: absolute;
			left: 45%;
			top: 20%;
			font-weight: bolder;
			display: inline-block;
		}
		#feedback{
			background: black;
			color: white;
			border-top-left-radius:6px;
			border-top-right-radius: 6px;
			position: fixed;
			top: 40%;
			left: 95%;
			padding:5px;
			font-weight:bolder;
			font-size: 20px; 
			margin: 0px;
			cursor: pointer;
			transform: rotate(-90deg);
			width: 8%;
			height: 7%;
			z-index: 999;
		}
		#feedback:hover{
			height: 10%;
			width: 8%;
			transition: 0.3s;
		}
		.captcha{
			position: fixed;
			bottom: 5%;
			right: 0px;
			cursor: pointer;
		}